@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model gym.Models.News
@{
    <div class="row">
        <div class="col-lg-8 p-0 m-auto">
            <div class="blog-details-text">
                <div class="blog-details-quote">
                    <div class="quote-icon">
                        <img src="@Url.Content("~/img/blogNew/detail/sloganIcon.png")" alt="">
                    </div>
                    <h5>
                        @if (Model != null)
                        {
                            @Model.Slogan
                            // Giả sử bạn muốn hiển thị mô tả
                        }
                    </h5>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <span class="like-text">THÍCH </span>
                        <span id="like-count-@Model.NewsId" class="like-count"> @Model.IsLike</span>
                        <i class="fa fa-heart heart-icon"></i> <!-- Hoặc bất kỳ thông tin nào bạn muốn -->
                    }
                    else
                    {
                        <span class="like-text">THÍCH </span>
                        <span id="like-count-@Model.NewsId" class="like-count"> @Model.IsLike</span>
                        <form method="post" asp-controller="Blogs" asp-action="LikeNews" style="display: inline;">
                            <button type="submit"
                                    class="fa fa-heart heart-icon"
                                    style="border: none; background: none;"
                                    title="Like">
                                <input type="hidden" name="newsId" value="@Model.NewsId" />
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <style>
        .like-text {
            color: white; /* Màu chữ cho LIKE */
            font-weight: normal; /* Kiểu chữ cho LIKE */
            margin-right: 5px; /* Khoảng cách giữa LIKE và số */
        }

        .like-count {
            color: darkorange !important; /* Bắt buộc dùng màu cam đậm */
            font-weight: bold; /* Chữ in đậm */
        }
        .heart-icon {
            color: gray;
            cursor: pointer;
            transition: color 0.3s;
        }

            .heart-icon:hover {
                color: gold;
            }

            .heart-icon.active {
                color: gold; /* Màu trái tim khi đã Like */
            }
    </style>
}

